<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opensourcecurrency.hack"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/cyberwire"
        android:label="@string/app_name" >
        <activity
            android:name=".Cyberwire"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Prefs"
            android:label="@string/settings_label"></activity>
        <activity
            android:name=".Send"></activity>
        <activity
            android:name=".Transactions"></activity>
        <activity
            android:name=".Profile"></activity>
        <activity
            android:name=".WebViewActivity"></activity>
        <activity
            android:name=".AddProvider"></activity>
    </application>

</manifest>